openapi: 3.0.0
info:
  title: Prayer Times API
  description: API for retrieving prayer times information
  version: 1.0.0
servers:
  - url: http://api.aladhan.com/v1
paths:
  /calendar/{year}/{month}:
    get:
      summary: Retrieve prayer times for a specific calendar month
      description: |
        Returns all prayer times for a specific calendar month.
      parameters:
        - name: year
          in: path
          description: Gregorian calendar year
          required: true
          schema:
            type: integer
            example: 2014
        - name: month
          in: path
          description: Gregorian calendar month
          required: true
          schema:
            type: integer
            example: 4
        - name: latitude
          in: query
          description: Decimal value for the latitude coordinate of the location
          required: true
          schema:
            type: number
            format: double
            example: 51.508515
        - name: longitude
          in: query
          description: Decimal value for the longitude coordinate of the location
          required: true
          schema:
            type: number
            format: double
            example: -0.1254872
        - name: method
          in: query
          description: Prayer times calculation method
          required: false
          schema:
            type: integer
            enum: [0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 99]
            default: null
        - name: shafaq
          in: query
          description: Shafaq to use if the method is Moonsighting Committee Worldwide
          required: false
          schema:
            type: string
            enum: [general, ahmer, abyad]
            default: general
        - name: tune
          in: query
          description: Comma Separated String of integers to offset timings returned by the API in minutes
          required: false
          schema:
            type: string
            example: "5,3,5,7,9,7"
        - name: school
          in: query
          description: School of thought
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: null
        - name: midnightMode
          in: query
          description: Midnight mode
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: null
        - name: timezonestring
          in: query
          description: Timezone name
          required: false
          schema:
            type: string
            example: Europe/London
        - name: latitudeAdjustmentMethod
          in: query
          description: Method for adjusting times at higher latitudes
          required: false
          schema:
            type: integer
            enum: [1, 2, 3]
            default: null
        - name: adjustment
          in: query
          description: Number of days to adjust hijri date(s)
          required: false
          schema:
            type: integer
            example: 1
        - name: iso8601
          in: query
          description: Whether to return the prayer times in the iso8601 format
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  status:
                    type: string
                    example: OK
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        timings:
                          type: object
                          additionalProperties:
                            type: string
                            format: time
                            example: "03:57"
                          example:
                            Fajr: "03:57"
                            Sunrise: "05:46"
                            Dhuhr: "12:59"
                            Asr: "16:55"
                            Sunset: "20:12"
                            Maghrib: "20:12"
                            Isha: "22:02"
                            Imsak: "03:47"
                            Midnight: "00:59"
                        date:
                          type: object
                          properties:
                            readable:
                              type: string
                              example: "24 Apr 2014"
                            timestamp:
                              type: string
                              format: date-time
                              example: "1398332113"
                            gregorian:
                              type: object
                              properties:
                                date:
                                  type: string
                                  example: "15-05-2018"
                                format:
                                  type: string
                                  example: "DD-MM-YYYY"
                                day:
                                  type: string
                                  example: "15"
                                weekday:
                                  type: object
                                  properties:
                                    en:
                                      type: string
                                      example: "Tuesday"
                                month:
                                  type: object
                                  properties:
                                    number:
                                      type: integer
                                      example: 5
                                    en:
                                      type: string
                                      example: "May"
                                year:
                                  type: string
                                  example: "2018"
                                designation:
                                  type: object
                                  properties:
                                    abbreviated:
                                      type: string
                                      example: "AD"
                                    expanded:
                                      type: string
                                      example: "Anno Domini"
                            hijri:
                              type: object
                              properties:
                                date:
                                  type: string
                                  example: "01-09-1439"
                                format:
                                  type: string
                                  example: "DD-MM-YYYY"
                                day:
                                  type: string
                                  example: "01"
                                weekday:
                                  type: object
                                  properties:
                                    en:
                                      type: string
                                      example: "Al Thalaata"
                                    ar:
                                      type: string
                                      example: "الثلاثاء"
                                month:
                                  type: object
                                  properties:
                                    number:
                                      type: integer
                                      example: 9
                                    en:
                                      type: string
                                      example: "Ramaḍān"
                                    ar:
                                      type: string
                                      example: "رَمَضان"
                                year:
                                  type: string
                                  example: "1439"
                                designation:
                                  type: object
                                  properties:
                                    abbreviated:
                                      type: string
                                      example: "AH"
                                    expanded:
                                      type: string
                                      example: "Anno Hegirae"
                                holidays:
                                  type: array
                                  items:
                                    type: string
                                    example: "1st Day of Ramadan"
                        meta:
                          type: object
                          properties:
                            latitude:
                              type: number
                              format: double
                              example: 51.508515
                            longitude:
                              type: number
                              format: double
                              example: -0.1254872
                            timezone:
                              type: string
                              example: "Europe/London"
                            method:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 2
                                name:
                                  type: string
                                  example: "Islamic Society of North America (ISNA)"
                                params:
                                  type: object
                                  additionalProperties:
                                    type: integer
                                    example: 15
                                  example:
                                    Fajr: 15
                                    Isha: 15
                            latitudeAdjustmentMethod:
                              type: string
                              example: "ANGLE_BASED"
                            midnightMode:
                              type: string
                              example: "STANDARD"
                            school:
                              type: string
                              example: "STANDARD"
                            offset:
                              type: object
                              properties:
                                Imsak:
                                  type: integer
                                  example: 0
                                Fajr:
                                  type: integer
                                  example: 0
                                Sunrise:
                                  type: integer
                                  example: 0
                                Dhuhr:
                                  type: integer
                                  example: 0
                                Asr:
                                  type: integer
                                  example: 0
                                Maghrib:
                                  type: integer
                                  example: 0
                                Sunset:
                                  type: integer
                                  example: 0
                                Isha:
                                  type: integer
                                  example: 0
                                Midnight:
                                  type: integer
                                  example: 0
  /calendarByCity/{year}/{month}:
    get:
      summary: Retrieve prayer times by city
      parameters:
        - name: year
          in: path
          description: Gregorian calendar year
          required: true
          schema:
            type: integer
        - name: month
          in: path
          description: Gregorian calendar month
          required: true
          schema:
            type: integer
        - name: city
          in: query
          description: A city name
          required: true
          schema:
            type: string
        - name: country
          in: query
          description: A country name or 2 character alpha ISO 3166 code
          required: true
          schema:
            type: string
        - name: state
          in: query
          description: State or province
          schema:
            type: string
        - name: method
          in: query
          description: Prayer times calculation method
          schema:
            type: integer
        - name: shafaq
          in: query
          description: Shafaq to use if the method is Moonsighting Committee Worldwide
          schema:
            type: string
        - name: tune
          in: query
          description: Comma Separated String of integers to offset timings returned by the API in minutes
          schema:
            type: string
        - name: school
          in: query
          description: School of thought
          schema:
            type: integer
        - name: midnightMode
          in: query
          description: Midnight mode
          schema:
            type: integer
        - name: latitudeAdjustmentMethod
          in: query
          description: Method for adjusting times higher latitudes
          schema:
            type: integer
        - name: adjustment
          in: query
          description: Number of days to adjust hijri date(s)
          schema:
            type: integer
        - name: iso8601
          in: query
          description: Whether to return the prayer times in the iso8601 format
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrayerTimes'
  /hijriCalendar/{year}/{month}:
    get:
      summary: Retrieve prayer times by Hijri calendar
      parameters:
        - name: year
          in: path
          description: Hijri calendar year
          required: true
          schema:
            type: integer
        - name: month
          in: path
          description: Hijri calendar month
          required: true
          schema:
            type: integer
        - name: latitude
          in: query
          description: The decimal value for the latitude coordinate of the location
          required: true
          schema:
            type: number
            format: double
        - name: longitude
          in: query
          description: The decimal value for the longitude coordinate of the location
          required: true
          schema:
            type: number
            format: double
        - name: method
          in: query
          description: Prayer times calculation method
          schema:
            type: integer
        - name: shafaq
          in: query
          description: Shafaq to use if the method is Moonsighting Committee Worldwide
          schema:
            type: string
        - name: tune
          in: query
          description: Comma Separated String of integers to offset timings returned by the API in minutes
          schema:
            type: string
        - name: school
          in: query
          description: School of thought
          schema:
            type: integer
        - name: midnightMode
          in: query
          description: Midnight mode
          schema:
            type: integer
        - name: timezonestring
          in: query
          description: A valid timezone name
          schema:
            type: string
        - name: latitudeAdjustmentMethod
          in: query
          description: Method for adjusting times higher latitudes
          schema:
            type: integer
        - name: adjustment
          in: query
          description: Number of days to adjust hijri date(s)
          schema:
            type: integer
        - name: iso8601
          in: query
          description: Whether to return the prayer times in the iso8601 format
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrayerTimes'
  /hijriCalendarByAddress/{year}/{month}:
    get:
      summary: Retrieve prayer times by address
      parameters:
        - name: year
          in: path
          description: Hijri calendar year
          required: true
          schema:
            type: integer
        - name: month
          in: path
          description: Hijri calendar month
          required: true
          schema:
            type: integer
        - name: address
          in: query
          description: An address string
          required: true
          schema:
            type: string
        - name: method
          in: query
          description: Prayer times calculation method
          schema:
            type: integer
        - name: shafaq
          in: query
          description: Shafaq to use if the method is Moonsighting Committee Worldwide
          schema:
            type: string
        - name: tune
          in: query
          description: Comma Separated String of integers to offset timings returned by the API in minutes
          schema:
            type: string
        - name: school
          in: query
          description: School of thought
          schema:
            type: integer
        - name: midnightMode
          in: query
          description: Midnight mode
          schema:
            type: integer
        - name: latitudeAdjustmentMethod
          in: query
          description: Method for adjusting times higher latitudes
          schema:
            type: integer
        - name: adjustment
          in: query
          description: Number of days to adjust hijri date(s)
          schema:
            type: integer
        - name: iso8601
          in: query
          description: Whether to return the prayer times in the iso8601 format
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrayerTimes'
  /hijriCalendarByCity/{year}/{month}:
    get:
      summary: Retrieve prayer times by Hijri calendar and city
      description: Returns all prayer times for a specific Hijri calendar month by city.
      parameters:
        - name: year
          in: path
          description: Hijri calendar year
          required: true
          schema:
            type: integer
        - name: month
          in: path
          description: Hijri calendar month
          required: true
          schema:
            type: integer
        - name: city
          in: query
          description: A city name
          required: true
          schema:
            type: string
        - name: country
          in: query
          description: A country name or 2 character alpha ISO 3166 code
          required: true
          schema:
            type: string
        - name: state
          in: query
          description: State or province
          schema:
            type: string
        - name: method
          in: query
          description: Prayer times calculation method
          schema:
            type: integer
        - name: shafaq
          in: query
          description: Shafaq to use if the method is Moonsighting Committee Worldwide
          schema:
            type: string
        - name: tune
          in: query
          description: Comma Separated String of integers to offset timings returned by the API in minutes
          schema:
            type: string
        - name: school
          in: query
          description: School of thought
          schema:
            type: integer
        - name: midnightMode
          in: query
          description: Midnight mode
          schema:
            type: integer
        - name: latitudeAdjustmentMethod
          in: query
          description: Method for adjusting times higher latitudes
          schema:
            type: integer
        - name: adjustment
          in: query
          description: Number of days to adjust hijri date(s)
          schema:
            type: integer
        - name: iso8601
          in: query
          description: Whether to return the prayer times in the iso8601 format
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrayerTimes'
  /methods:
    get:
      summary: Retrieve prayer times calculation methods
      description: Returns all the prayer times calculation methods supported by this API.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  status:
                    type: string
                  data:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        params:
                          type: object
                          additionalProperties:
                            type: integer
  /timings/{date}:
    get:
      summary: Retrieve prayer times by date
      description: Returns all prayer times for a specific date.
      parameters:
        - name: date
          in: path
          description: Date in the DD-MM-YYYY format
          required: true
          schema:
            type: string
        - name: latitude
          in: query
          description: Latitude coordinate of the location
          schema:
            type: number
            format: double
        - name: longitude
          in: query
          description: Longitude coordinate of the location
          schema:
            type: number
            format: double
        - name: method
          in: query
          description: Prayer times calculation method
          schema:
            type: integer
        - name: shafaq
          in: query
          description: Shafaq to use if the method is Moonsighting Committee Worldwide
          schema:
            type: string
        - name: tune
          in: query
          description: Comma Separated String of integers to offset timings returned by the API in minutes
          schema:
            type: string
        - name: school
          in: query
          description: School of thought
          schema:
            type: integer
        - name: midnightMode
          in: query
          description: Midnight mode
          schema:
            type: integer
        - name: timezonestring
          in: query
          description: Valid timezone name
          schema:
            type: string
        - name: latitudeAdjustmentMethod
          in: query
          description: Method for adjusting times higher latitudes
          schema:
            type: integer
        - name: adjustment
          in: query
          description: Number of days to adjust hijri date(s)
          schema:
            type: integer
        - name: iso8601
          in: query
          description: Whether to return the prayer times in the iso8601 format
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      timings:
                        type: object
                        additionalProperties:
                          type: string
                          format: time
                      date:
                        type: object
                        properties:
                          readable:
                            type: string
                          timestamp:
                            type: string
                          gregorian:
                            type: object
                            properties:
                              date:
                                type: string
                              format:
                                type: string
                              day:
                                type: string
                              weekday:
                                type: object
                                properties:
                                  en:
                                    type: string
                              month:
                                type: object
                                properties:
                                  number:
                                    type: integer
                                  en:
                                    type: string
                              year:
                                type: string
                              designation:
                                type: object
                                properties:
                                  abbreviated:
                                    type: string
                                  expanded:
                                    type: string
                          hijri:
                            type: object
                            properties:
                              date:
                                type: string
                              format:
                                type: string
                              day:
                                type: string
                              weekday:
                                type: object
                                properties:
                                  en:
                                    type: string
                                  ar:
                                    type: string
                              month:
                                type: object
                                properties:
                                  number:
                                    type: integer
                                  en:
                                    type: string
                                  ar:
                                    type: string
                              year:
                                type: string
                              designation:
                                type: object
                                properties:
                                  abbreviated:
                                    type: string
                                  expanded:
                                    type: string
                              holidays:
                                type: array
                                items:
                                  type: string
                      meta:
                        type: object
                        properties:
                          latitude:
                            type: number
                            format: double
                          longitude:
                            type: number
                            format: double
                          timezone:
                            type: string
                          method:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              params:
                                type: object
                                additionalProperties:
                                  type: integer
                          latitudeAdjustmentMethod:
                            type: string
                          midnightMode:
                            type: string
                          school:
                            type: string
                          offset:
                            type: object
                            additionalProperties:
                              type: integer
  /timingsByAddress/{date}:
    get:
      summary: Retrieve prayer times by address and date
      description: Returns all prayer times for a specific date at a particular address.
      parameters:
        - name: date
          in: path
          description: Date in the DD-MM-YYYY format
          required: true
          schema:
            type: string
        - name: address
          in: query
          description: Address string
          required: true
          schema:
            type: string
        - name: method
          in: query
          description: Prayer times calculation method
          schema:
            type: integer
        - name: shafaq
          in: query
          description: Shafaq to use if the method is Moonsighting Committee Worldwide
          schema:
            type: string
        - name: tune
          in: query
          description: Comma Separated String of integers to offset timings returned by the API in minutes
          schema:
            type: string
        - name: school
          in: query
          description: School of thought
          schema:
            type: integer
        - name: midnightMode
          in: query
          description: Midnight mode
          schema:
            type: integer
        - name: latitudeAdjustmentMethod
          in: query
          description: Method for adjusting times higher latitudes
          schema:
            type: integer
        - name: adjustment
          in: query
          description: Number of days to adjust hijri date(s)
          schema:
            type: integer
        - name: iso8601
          in: query
          description: Whether to return the prayer times in the iso8601 format
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  status:
                    type: string
                  data:
                    type: object
                    properties:
                      timings:
                        type: object
                        additionalProperties:
                          type: string
                          format: time
                      date:
                        type: object
                        properties:
                          readable:
                            type: string
                          timestamp:
                            type: string
                          gregorian:
                            type: object
                            properties:
                              date:
                                type: string
                              format:
                                type: string
                              day:
                                type: string
                              weekday:
                                type: object
                                properties:
                                  en:
                                    type: string
                              month:
                                type: object
                                properties:
                                  number:
                                    type: integer
                                  en:
                                    type: string
                              year:
                                type: string
                              designation:
                                type: object
                                properties:
                                  abbreviated:
                                    type: string
                                  expanded:
                                    type: string
                          hijri:
                            type: object
                            properties:
                              date:
                                type: string
                              format:
                                type: string
                              day:
                                type: string
                              weekday:
                                type: object
                                properties:
                                  en:
                                    type: string
                                  ar:
                                    type: string
                              month:
                                type: object
                                properties:
                                  number:
                                    type: integer
                                  en:
                                    type: string
                                  ar:
                                    type: string
                              year:
                                type: string
                              designation:
                                type: object
                                properties:
                                  abbreviated:
                                    type: string
                                  expanded:
                                    type: string
                              holidays:
                                type: array
                                items:
                                  type: string
                      meta:
                        type: object
                        properties:
                          latitude:
                            type: number
                            format: double
                          longitude:
                            type: number
                            format: double
                          timezone:
                            type: string
                          method:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              params:
                                type: object
                                additionalProperties:
                                  type: integer
                          latitudeAdjustmentMethod:
                            type: string
                          midnightMode:
                            type: string
                          school:
                            type: string
                          offset:
                            type: object
                            additionalProperties:
                              type: integer
/timingsByCity/{date}:
  get:
    summary: Retrieve prayer times by city and date
    description: Returns all prayer times for a specific date in a particular city.
    parameters:
      - name: date
        in: path
        description: Date in the DD-MM-YYYY format
        required: true
        schema:
          type: string
      - name: city
        in: query
        description: City name
        required: true
        schema:
          type: string
      - name: country
        in: query
        description: Country name or 2 character alpha ISO 3166 code
        schema:
          type: string
      - name: state
        in: query
        description: State or province name or abbreviation
        schema:
          type: string
      - name: method
        in: query
        description: Prayer times calculation method
        schema:
          type: number
      - name: shafaq
        in: query
        description: Shafaq to use if the method is Moonsighting Committee Worldwide
        schema:
          type: string
      - name: tune
        in: query
        description: Comma Separated String of integers to offset timings returned by the API in minutes
        schema:
          type: string
      - name: school
        in: query
        description: School of thought
        schema:
          type: number
      - name: midnightMode
        in: query
        description: Midnight mode
        schema:
          type: number
      - name: latitudeAdjustmentMethod
        in: query
        description: Method for adjusting times higher latitudes
        schema:
          type: number
      - name: adjustment
        in: query
        description: Number of days to adjust hijri date(s)
        schema:
          type: number
      - name: iso8601
        in: query
        description: Whether to return the prayer times in the iso8601 format
        schema:
          type: boolean
    responses:
      '200':
        description: Successful response
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: integer
                status:
                  type: string
                data:
                  type: object
                  properties:
                    timings:
                      type: object
                      additionalProperties:
                        type: string
                        format: time
                    date:
                      type: object
                      properties:
                        readable:
                          type: string
                        timestamp:
                          type: string
                        gregorian:
                          type: object
                          properties:
                            date:
                              type: string
                            format:
                              type: string
                            day:
                              type: string
                            weekday:
                              type: object
                              properties:
                                en:
                                  type: string
                            month:
                              type: object
                              properties:
                                number:
                                  type: integer
                                en:
                                  type: string
                            year:
                              type: string
                            designation:
                              type: object
                              properties:
                                abbreviated:
                                  type: string
                                expanded:
                                  type: string
                        hijri:
                          type: object
                          properties:
                            date:
                              type: string
                            format:
                              type: string
                            day:
                              type: string
                            weekday:
                              type: object
                              properties:
                                en:
                                  type: string
                                ar:
                                  type: string
                            month:
                              type: object
                              properties:
                                number:
                                  type: integer
                                en:
                                  type: string
                                ar:
                                  type: string
                            year:
                              type: string
                            designation:
                              type: object
                              properties:
                                abbreviated:
                                  type: string
                                expanded:
                                  type: string
                            holidays:
                              type: array
                              items:
                                type: string
                    meta:
                      type: object
                      properties:
                        latitude:
                          type: number
                          format: double
                        longitude:
                          type: number
                          format: double
                        timezone:
                          type: string
                        method:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            params:
                              type: object
                              additionalProperties:
                                type: integer
                        latitudeAdjustmentMethod:
                          type: string
                        midnightMode:
                          type: string
                        school:
                          type: string
                        offset:
                          type: object
                          additionalProperties:
                            type: integer

components:
  schemas:
    PrayerTimes:
      type: object
      properties:
        date:
          type: string
          format: date
        timings:
          type: object
          properties:
            Fajr:
              type: string
              format: time
            Sunrise:
              type: string
              format: time
            Dhuhr:
              type: string
              format: time
            Asr:
              type: string
              format: time
            Maghrib:
              type: string
              format: time
            Isha:
              type: string
              format: time
            Imsak:
              type: string
              format: time
            Midnight:
              type: string
              format: time
