.saveButton {
  position: absolute;
  bottom: 20px;
  right: 5%;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ctvrLEFT {
  transform: rotate(-90deg);
  transform-origin: left top;
  height: 100vw;
  width: 440px;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1vw;
}

.ctvrRIGHT {
  transform: rotate(90deg);
  transform-origin: right top;
  height: 100vw;
  width: 440px;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 2vw;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.subHeader {
  font-size: 1.2rem;
}

.alRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns items to the right */
  text-align: right;
}
.paddingTop {
  padding-top: 1rem;
}
