/* SaveButton.module.css */
.saveButton {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  right: 5%;
  background-color: #0056b3; /* Example hover color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ctvrLEFT {
  transform: rotate(-90deg);
  transform-origin: left top;
  height: 100vw;
  width: 440px;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1vw;
}

.ctvrRIGHT {
  transform: rotate(90deg);
  transform-origin: right top;
  height: 100vw;
  width: 440px;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 2vw;
}
